.nav-btn {
  line-height: 16px;
}
.op-0 {
  opacity: 0 !important;
}
.op-1 {
  opacity: .1 !important;
}
.op-2 {
  opacity: .2 !important;
}
.op-3 {
  opacity: .3 !important;
}
.op-4 {
  opacity: .4 !important;
}
.op-5 {
  opacity: .5 !important;
}
.op-6 {
  opacity: .6 !important;
}
.op-7 {
  opacity: .7 !important;
}
.op-8 {
  opacity: .8 !important;
}
.op-9 {
  opacity: .9 !important;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.bg--medium {
  background-color: #ededed;
}
.btn--inverse {
  background-color: #fff;
  border-color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn--inverse .btn__text {
  color: #232323 !important;
}
.btn--inverse:hover {
  opacity: .9;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.btn--inverse:hover .btn__text {
  color: #161616 !important;
}
.btn--ghost {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: transparent;
  border-width: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn--ghost .btn__text {
  color: #fff;
}
.btn--ghost:hover {
  opacity: .9;
  border-color: transparent;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.btn--ghost:hover .btn__text {
  color: #fff !important;
}
.nav-module.right .btn {
  padding-right: 1.5em !important;
  padding-left: 1.5em !important;
}
@media (max-width: 991px) {
  .nav-module.right .btn__text {
    color: #232323 !important;
  }
}
.nav--fixed .nav-module.right .btn--ghost:hover {
  background-color: #e0e0e0;
}
.nav--fixed .nav-module.right .btn--ghost .btn__text {
  color: #232323 !important;
}
.nav-bar.nav--absolute:not(.nav--fixed) .nav-module.right:not(.logo-module):not(.menu-module):not(:nth-last-child(2)) {
  border-left: none;
}
.nav-bar .nav-module.right:not(.logo-module):not(.menu-module):not(:nth-last-child(2)) {
  padding-right: 1.625em;
  border-left: none;
}
.nav-bar .nav-module.right:not(.logo-module):not(.menu-module):not(:nth-last-child(2)) .btn + .btn {
  margin-left: .625em;
}
.logo-svg {
  display: inline-block !important;
  width: 125px !important;
  max-height: 100% !important;
}
.nav-module .menu > li a {
  margin-top: 2px;
}
.box-shadow-dark {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5) !important;
}
.partners-1 .slider img {
  max-height: 3.625em;
  opacity: .8;
}
@media only screen and (max-width: 480px) {
  .partners-1 .slider img {
    max-height: 6em;
  }
}
.background-image-holder.img-left {
  background-position: 0% 50% !important;
}
.imageblock > .container {
  padding-top: 4.5em;
}
.slider.testimonial-slides .slides li {
  padding: 0 !important;
}
@media only screen and (max-width: 480px) {
  .slider.testimonial-slides .slides li .row.p-t-lg {
    padding-top: 3em !important;
  }
  .slider.testimonial-slides .slides li blockquote {
    font-size: 1.25em;
  }
  .slider.testimonial-slides .slides li .quote-icon {
    margin-top: 0px !important;
  }
  .slider.testimonial-slides .slides li .quote-icon img {
    margin-bottom: 10px !important;
  }
  .slider.testimonial-slides .slides li .p-b-lg {
    padding-bottom: 2em !important;
  }
}
.slider.testimonial-slides .slides li blockquote {
  color: #232323 !important;
  opacity: .6;
}
.slider.testimonial-slides .slides li h5,
.slider.testimonial-slides .slides li .h6 {
  color: #232323 !important;
  opacity: 0.8;
}
@media only screen and (max-width: 480px) {
  .slider.testimonial-slides .quote-icon img {
    width: 32px;
  }
}
.owl-theme .owl-controls .owl-dots .owl-dot span {
  background: rgba(0, 0, 0, 0.4);
}
.owl-theme .owl-controls .owl-dots .owl-dot span:hover,
.owl-theme .owl-controls .owl-dots .owl-dot.active span {
  background: rgba(0, 0, 0, 0.8);
}
.footer-4 .icon-box-small {
  min-width: 20px;
  display: inline-block;
  float: left;
}
.footer-4 .icon-box-small .fa-phone,
.footer-4 .icon-box-small .fa-envelope-o {
  line-height: 2.2em;
}
.footer-4 .address {
  margin-bottom: 0;
}
.footer-4 .address address {
  display: inline-block;
  color: #343434;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 0.75em;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  font-weight: 400;
  line-height: 1.625em;
  margin-bottom: 0;
}
.footer-4 .address address a {
  display: block;
  opacity: .6;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.footer-4 .address address a.tel {
  margin-bottom: 3px;
}
.footer-4 .address address a:hover {
  opacity: 1;
}
.footer-4 .company-info a {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  display: block;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 0.75em;
  opacity: .6;
}
.footer-4 .company-info a:hover {
  opacity: 1;
}
.footer-4 .get-help li,
.footer-4 .sub-footer-links li {
  color: #343434;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 0.625em;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}
.footer-4 .get-help li a,
.footer-4 .sub-footer-links li a {
  opacity: .5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.footer-4 .get-help li a:hover,
.footer-4 .sub-footer-links li a:hover {
  opacity: 1;
}
.footer-4 .sub-footer-links li {
  margin: 0 10px;
}
.footer-4 .get-help {
  line-height: 3.2em;
}
.footer-4 .sub-footer-links ul {
  margin: 0;
  line-height: 1.625em !important;
}
.footer-4 .footer__navigation {
  width: 50%;
  display: inline-block;
  float: left;
}
.footer-4 .footer__lower {
  position: relative;
  margin-top: 2.875em;
  background: #1e1e1e;
  padding: 1.625em 0;
}
@media only screen and (max-width: 480px) {
  section.social_feeds {
    padding: 2.875em 0 !important;
  }
}
@media only screen and (max-width: 480px) {
  .feature {
    margin-bottom: 3em;
  }
  .feature .feed-box {
    min-height: auto;
  }
  .feature .icon-box {
    /* Extra Small Devices, Phones */
    display: none;
  }
  .feature .link-text {
    font-size: .875em !important;
  }
}
.webinar-list .webinar-link p {
  font-size: .75em;
  opacity: .8;
}
.webinar-list .webinar-list-item {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.webinar-list .webinar-list-item h5 {
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: .375em;
  font-size: .875em;
}
.webinar-list .webinar-list-item .fa {
  margin-left: 1px;
  margin-right: 5px;
}
.webinar-list .webinar-list-item .hour {
  margin-left: 6px;
}
.feature-1 p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  min-height: auto;
}
.feed-box {
  display: block;
  min-height: 8em;
  overflow-y: scroll;
}
.twitter-feed .timePosted {
  display: none !important;
}
.anim-icon {
  width: 100%;
  display: inline-block;
}
.anim-icon .link-text {
  color: #343434;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 0px;
  border-bottom: 1px dotted #ccc;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 2px;
}
.anim-icon .link-text .fa {
  margin-left: 2px;
}
.anim-icon:hover .link-text {
  padding-bottom: 0px;
  margin-bottom: 2px;
  border-bottom-color: #232323;
}
.features-9 {
  /* Extra Small Devices, Phones */
}
@media only screen and (max-width: 480px) {
  .features-9 {
    padding: 2.5em 0 !important;
  }
}
@media (max-width: 767px) {
  .features-9 h4 {
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 1em;
    opacity: 1;
    line-height: 1.5em;
  }
}
.mouse-for-scroll {
  width: 45px;
}
.mouse-line {
  -webkit-animation: mouseScroll 2s infinite;
          animation: mouseScroll 2s infinite;
}
@-webkit-keyframes mouseScroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
}
@keyframes mouseScroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
}
/*# sourceMappingURL=overides.css.map */